@use "../../App.scss";

.result {
  width: 100%;
  max-height: calc(100 * var(--vh));
  overflow: hidden;

  .result_header {
    width: 100%;
    height: calc(13 * var(--vh));
    max-height: calc(13 * var(--vh));
    box-sizing: border-box;

    .header_left {
      background-color: App.$lovely-pink;

      .title,
      .name {
        position: absolute;
        // left: 50%;
        // transform: translateX(-50%);
        width: 100%;
        text-align: center;
        z-index: 2;
      }

      .title {
        bottom: 4.65vh;
        font-size: 12px;
      }

      .name {
        bottom: 2vh;
        font-size: 14px;
        font-weight: 600;
      }

      .decorArrow {
        position: absolute;
        font-size: 35px;
        color: white;
        opacity: 0.35;
        top: 26%;
        transform: translateY(-50%);
        z-index: 1;
      }

      .pos1 {
        left: 11%;
      }
      .pos2 {
        left: 45%;
      }
      .pos3 {
        left: 79%;
      }
    }

    .header_right {
      height: 100%;
      overflow: hidden;

      .favIcon {
        position: absolute;
        height: 150%;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.18;
      }

      .character {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
        font-size: 14.5px;
        color: black;
      }
    }
  }
  .characteristic {
    background-color: App.$lighter-pink;
    box-sizing: border-box;
    padding: 3px;
    height: calc(4.5 * var(--vh));
    max-height: calc(4.5 * var(--vh));
    box-sizing: border-box;

    .characteristic_title {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      font-weight: 700;
    }

    .characteristic_content {
      display: flex;
      align-items: center;
      text-align: center;
      font-size: 12px;
    }
  }

  .result_body {
    height: calc(35 * var(--vh));
    max-height: calc(35 * var(--vh));
    box-sizing: border-box;

    .attractTitleContainer {
      width: 100%;
      height: 100%;
      background-color: App.$rose;

      .attract_title {
        font-weight: 700;
        font-size: 18px;
        width: auto;
        height: 20px;
        position: absolute;
        min-width: 280px;
        transform: translateX(calc(0.92 * -230px)) rotate(-90deg);
        transform-origin: right;
        text-align: center;
      }
    }

    .attract_character {
      background-color: App.$light-red;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      .characterDisplay {
        width: 80px;
        margin: 0 15px 0 0;

        .imageContainer {
          width: 100%;
          display: flex;
          justify-content: center;

          .characterImage {
            width: 50px;
            margin: 0 0 5px 0;
          }
        }

        .characterName {
          width: 100%;
          text-align: center;
          font-size: 11px;
          font-weight: 600;
          background-color: App.$unselected-answer-hover;
          padding: 2px 2px 3px 2px;
          border-radius: 5px;
        }
      }
    }
  }

  .result_body2 {
    height: calc(43 * var(--vh));
    max-height: calc(43 * var(--vh));
    box-sizing: border-box;

    .attractTitleContainer {
      width: 100%;
      height: 100%;
      background-color: App.$lovely-pink;

      .attract_title {
        font-weight: 700;
        font-size: 18px;
        width: auto;
        height: 20px;
        position: absolute;
        min-width: 344px;
        transform: translateX(calc(0.92 * -280px)) rotate(-90deg);
        transform-origin: right;
        text-align: center;
      }
    }

    .attract_character {
      background-color: App.$light-rose;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      .characterDisplay {
        width: 80px;
        margin: 0 15px 0 0;

        .imageContainer {
          width: 100%;
          display: flex;
          justify-content: center;

          .characterImage {
            width: 50px;
            margin: 0 0 5px 0;
          }
        }

        .characterName {
          width: 100%;
          text-align: center;
          font-size: 11px;
          font-weight: 600;
          background-color: App.$unselected-answer-hover;
          padding: 2px 2px 3px 2px;
          border-radius: 5px;
        }
      }
    }
  }

  .character_image_container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: App.$unselected-answer-hover;

    .ownCharacterImg {
      width: 90%;
      filter: drop-shadow(0 0 5px App.$light-pink);
    }
  }

  .result_footer {
    height: calc(4.5 * var(--vh));
    max-height: calc(4.5 * var(--vh));
    box-sizing: border-box;
    min-width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: App.$unselected-answer-hover;

    .copyright {
        font-size: 11px;
    }
  }
}

//4.5 + 13 + 35 + 43%
